/*** HEADER */
$header-contact-background: #009934;
$header-contact-text: #fff;

$search-button-color: #009934;
$search-input-background: #f1f1f1;
$search-input-color: #4c4c4c;

$profile-button-background: #009934;
$profile-button-color: #fff;
$profile-button-hover: #006633;

$menu-item-color: #4c4c4c;
