/*** HEADER */
$header-contact-background: #009934;
$header-contact-text: #fff;

$search-button-color: #009934;
$search-input-background: #f1f1f1;
$search-input-color: #4c4c4c;

$profile-button-background: #009934;
$profile-button-color: #fff;
$profile-button-hover: #006633;

$menu-item-color: #4c4c4c;

$auth-input-borda: #d4d4d4;
$auth-input-borda-focus: #4c4c4c;

$form-btn: #009934;
$form-btn-hover: #006633;

/*** Equipamento ***/
$equip-valor: #009934;
$equip-info-borda: #D4D4D4;
$equip-descricao-header-bg: #F9F9F9;
$equip-descricao-header: #009934;

$equip-carac-borda: #D4D4D4;
$equip-carac-nome-bg: #F9F9F9;

/*** Conversa ***/
$conversa-fundo-cor: #E9E9E9;
$conversa-mensagem-fundo-cor: #FFF;
$conversa-mensagem-novas-fundo: #009934;
$conversa-mensagem-novas-cor: #fff;
$conversa-textcount-color: #4c4c4c;
