.site-layout .equipamento {
    $border-radius: 12px;

    .container-imagens {
        max-width: 800px;

        .imagem img {
            border-radius: $border-radius;
            width: 100%;
            height: auto;
        }
    }

    .info {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        border: 1px solid $equip-info-borda;
        border-radius: $border-radius;
        padding: 1rem;

        .ano .local {
            font-size: 1.125rem;
        }

        .titulo {
            font-size: 1.625rem;
            font-weight: 600;
            margin: 1rem 0;
        }

        .valor {
            display: block;
            margin-top: 1rem;
            color: #009934;
            font-size: 1.5rem;
            font-weight: 600;
        }

        .botao {
            margin-top: 1rem;
        }
    }

    .descricao-header {
        background-color: $equip-descricao-header-bg;
        margin: 2rem 0;
        font-size: 1.375rem;
        color: #009934;
        padding: 1.2rem;
        border-radius: $border-radius;
    }

    .caracteristicas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        overflow-wrap: anywhere;

        @mixin breakpoint-down-md {
            grid-template-columns: 1fr;
        }

        .caracteristica {
            border-radius: $border-radius;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0;

            .nome,
            .valor {
                border: 1px solid $equip-carac-borda;
            }

            .nome {
                padding: .8rem;
                background-color: $equip-carac-nome-bg;
                border-right: none;
                border-radius: $border-radius 0 0 $border-radius;
            }

            .valor {
                padding: .8rem;
                border-left: none;
                border-radius: 0 $border-radius $border-radius 0;
            }
        }
    }

    .descricao {
        font-size: 1rem;

        h1 {
            font-size: 1.75rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.25rem;
        }
    }
}
