.site-layout {
    .filtro-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        gap: 1rem;

        @media screen and (max-width: $max-width-xxl) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: $max-width-xl) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: $max-width-md) {
            grid-template-columns: repeat(1, 1fr);
            margin: 0 .5rem;
        }
    }

    .filtros-selecionados {
        padding: 0.5rem 1.5rem;
    }

    .filtros {
        box-shadow: 0 16px 22px rgba(0, 0, 0, 0.09);
        border-radius: 20px;

        .card-header {
            border-radius: 20px;
            padding: 1rem;
        }
    }
}
