.site-layout {
    .btn {
        font-family: "Lato", Arial, Helvetica, sans-serif;
        border: none;
        border-radius: .8rem;
        padding: .8rem 1.6rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
    }

    .btn-primary {
        background-color: $form-btn !important;

        &:hover,
        &:active {
            color: $form-btn-hover;
        }
    }

    .btn-outline-primary {
        color: $form-btn;
        border: 1px solid $form-btn;
        background-color: transparent;

        &:hover,
        &:active {
            color: $form-btn-hover-outline;
            background-color: $form-btn;
        }
    }

    .btn-link {
        color: $form-btn;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        text-decoration: none;
        padding: 0;
        text-transform: none;

        &:hover,
        &:active {
            color: $form-btn-hover;
        }
    }
}
