.site-layout .equipamentos {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .equipamento {
        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;

        @mixin breakpoint-down md {
            flex-direction: column;
        }

        .imagem {
            width: 200px;
            height: 150px;
            border-radius: 1rem;

            @mixin breakpoint-down md {
                width: 100%;
                height: auto;
            }
        }

        .informacoes {
            display: flex;
            flex-direction: column;
            margin: 0 1rem;
            flex-grow: 1;
            align-self: center;

            @mixin breakpoint-down md {
                margin: 1rem 0 0 0;
                align-self: start;
            }

            h3 {
                font-size: 1.5rem;
                font-weight: bold;
                line-height: 1.2;
            }

        }

        .btn {
            align-self: end;

            @mixin breakpoint-down md {
                margin-top: 1rem;
                align-self: start;
            }
        }

        .mensagens {
            background-color: $verde-secondary;
        }
    }
}
