.site-layout .container.notificacoes {
    .lista-notificacoes {
        margin-top: 1.5rem;
        gap: 2rem;
        display: flex;
        flex-direction: column;
    }

    .notificacao {
        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
        border-radius: 1rem;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
