.site-layout nav ul.pagination {
    flex-wrap: wrap;

    .page-link {
        color: #009934;
        white-space: nowrap;
    }

    .page-link.active {
        color: $paginacao-active-color;
        background-color: #009934;
        border-color: #009934;
    }
}
