.site-layout .pagina-inicial {
    margin-top: -1.5rem;
    padding-bottom: 2rem;

    .componente {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        margin-top: 4rem;

        .titulo {
            font-weight: 600;
        }
    }

    #carrossel-principal {

        picture,
        picture img,
        picture source {
            width: 100%;
            display: block;
        }
    }

    .grid-imagens {
        display: grid;
        grid-gap: .5rem;
        margin: 1rem 0;

        grid-template-columns: repeat(4, 1fr);

        @media screen and (max-width: $max-width-md) {
            grid-template-columns: repeat(2, 1fr);
        }

        &.formato-1,
        &.formato-3 {
            grid-gap: 0;
        }

        &.formato-2,
        &.formato-3 {
            grid-template-columns: repeat(3, 1fr);

            @media screen and (max-width: $max-width-md) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .lista-produtos {
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
        display: grid;

        grid-template-columns: repeat(4, 1fr);

        @media screen and (max-width: $max-width-xl) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: $max-width-md) {
            grid-template-columns: repeat(1, 1fr);
            margin: 0 .5rem;
        }
    }
}
