.site-layout {
    .vue-dropdown-item.highlighted {
        background-color: #009934;
        color: white;
    }

    .vue-dropdown-item.selected.highlighted {
        background-color: #009934;
        color: white;
    }
}
