@import '../app/app.scss';
@import 'cores.scss';
@import 'header.scss';
@import 'auth.scss';
@import 'form.scss';
@import 'equipamento.scss';
@import 'cadastrarEquipamento.scss';
@import 'conversa.scss';
@import 'lista.scss';
@import 'paginacao.scss';
@import 'selectajax.scss';

body:has(.site-layout) {
    background-color: #fff;
}

.site-layout {
    .container-600 {
        max-width: 600px;
        margin: auto;
        padding: 1rem;
    }
}
