.site-layout {
    --slider-handle-bg: #009934;
    --slider-connect-bg: #009934;
    --slider-handle-shadow: none;
    --slider-handle-height: 20px;
    --slider-handle-width: 20px;
    --slider-handle-shadow-active: none;
    --slider-bg: #D4D4D4;

    .slider-component-inputs {
        display: grid;
        grid-template-columns: 32px auto;
        align-items: center;
    }
}
