@import 'vars.scss';
@import 'cores.scss';
@import 'fonts.scss';
@import 'forms.scss';
@import 'loader.scss';
@import 'tiptap.scss';
@import 'transitions.scss';
@import 'notificacao.scss';
@import 'selectajax.scss';
@import 'editorImagens.scss';

body {
    margin: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.z-index-1000 {
    z-index: 1000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}
