.tiptap-editor {
    .tiptap-menu {
        display: flex;
        grid-column: 10;
        padding: 5px;
        gap: 5px;
        border-bottom: 1px solid #d4d4d4;
        flex-wrap: wrap;

        .separator {
            width: 15px;
        }

        button {
            background-color: white;
            border: none;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Lato", Arial, Helvetica, sans-serif;
            color: black;
            font-size: 20px;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 0;
        }

        button:hover {
            color: white;
            background-color: black;
        }
    }
}
