.admin-layout .equipamento {
    .descricao {
        font-size: 16px;

        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 20px;
        }
    }
}
