.admin-layout .equipamento {
    .descricao {
        font-size: 1rem;

        h1 {
            font-size: 1.75rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.25rem;
        }
    }
}
