.admin-layout {
    .vue-dropdown-item.highlighted {
        background-color: $selectajax-option-background;
        color: white;
    }

    .vue-dropdown-item.selected.highlighted {
        background-color: $selectajax-option-background;
        color: white;
    }
}
